
/*MY code*/

/*Inicio Link Avisos*/
#Faviso a:link{
    text-decoration: none;
    color: #ffffff;
    text-shadow: #000 2px 2px 1px;
}

#Faviso a:visited{
    color: #ffffff;
    text-decoration: underline;
}

#Faviso a:hover{
    color: skyblue;
}
#Faviso a:active{
    text-shadow: none;
}
/*Fin Link Avisos*/

.bg-blu-black{
    color: #fff;
    background-color: #03091e;
}
.bg-blu{
    color: #fff;
    background-color: #121F3D;
}

.blue-motion{
    color: #eee;
    background-color: #182547;
}

.blue-motion:hover{
    color: #fff;
    background-color: #3A5481;
}
.bg-translucid{
    background-color: #6f737a9a;
}