
body{
    height: 100%
}

/*MY code*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.docItem {
    position: relative;
    display: block;
    width: 90%;
}

/*mi modal*/
.modal {
	position: fixed;
	display: none;
	z-index: 10;
	padding: 10px 10px;
	top: 0;
	height: calc(max-content + 2px);
	width: 100%;
	background-color: #8989acd7;
	text-align: center;
	
	-webkit-animation-name: animarsuperior;
	-webkit-animation-duration: 0.5s;
	animation-name: animarsuperior;
	animation-duration: 0.5s
}

.modal img{
	position:relative;
	width: 90%;
}

.modal button {
	width: 25px;
	height: 25px;
	background-color: red;
	color: aliceblue;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal button:hover{
	cursor: pointer;
	box-shadow: 0px 0px 5px #fff;
}

.modalHead {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modalBody {
	height: max-content;
	justify-content: center;
	overflow: auto;
}

/* Animación */
@-webkit-keyframes animarsuperior {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animarsuperior {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@media screen and (max-width: 800px) {
    .modal img{
        width: auto;
        height: 500px;
    }
}

/*/mi modal*/


/*Inicio Link Avisos*/
#Faviso a:link{
    text-decoration: none;
    color: #ffffff;
    text-shadow: #000 2px 2px 1px;
}

#Faviso a:visited{
    color: #ffffff;
    text-decoration: underline;
}

#Faviso a:hover{
    color: skyblue;
}
#Faviso a:active{
    text-shadow: none;
}
/*Fin Link Avisos*/

.bg-blu-black{
    color: #fff;
    background-color: #03091e;
}
.bg-blu{
    color: #fff;
    background-color: #121F3D;
}

.blue-motion{
    color: #eee;
    background-color: #182547;
}

.blue-motion:hover{
    color: #fff;
    background-color: #3A5481;
}
.bg-translucid{
    background-color: #6f737a9a;
}

.glitch-efect{
    font-family: 'Rubik', sans-serif;
    color: aqua;
    text-shadow: none;
    animation: glitch 10s infinite;
}

@keyframes glitch {
    0% {font-family: 'Rubik', sans-serif; color: aqua; text-shadow: none;} 
    9% {font-family: 'Rubik', sans-serif; color: aqua;}

    10% {font-family: 'Rubik Glitch', cursive;}
    15% {font-family: 'Rubik Glitch', cursive;}

    16% {font-family: 'Rubik', sans-serif; color: aqua;}
    59% {font-family: 'Rubik', sans-serif; color: aqua; text-shadow: none;}

    60% {font-family: 'Rubik Glitch', cursive; color:rgb(0, 0, 0); text-shadow: -1px 1px 2px rgb(255, 255, 255);}
    62% {font-family: 'Rubik Glitch', cursive; color:rgb(255, 255, 255); text-shadow: -1px 1px 2px rgb(0, 0, 0);}
    64% {font-family: 'Rubik Glitch', cursive; color: aqua;text-shadow: -1px 1px 2px rgb(247, 0, 255);}
    
    65% {font-family: 'Rubik', sans-serif; color: aqua; text-shadow: none;}

    67% {font-family: 'Rubik Glitch', cursive; color:rgb(247, 0, 255); text-shadow: -1px 1px 2px rgb(0, 0, 0);}
    69% {font-family: 'Rubik Glitch', cursive; color:rgb(0, 0, 0); text-shadow: -1px 1px 2px rgb(255, 0, 170);}
    71% {font-family: 'Rubik Glitch', cursive; color: rgb(0, 0, 0);text-shadow: -1px 1px 2px rgb(247, 0, 255);}
    
    72% {font-family: 'Rubik', sans-serif; color: aqua; text-shadow: none;}
    100% {font-family: 'Rubik', sans-serif; color: aqua;}
}
