html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    font-size: 62.5%;
  }

  /** GLOBALES **/

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 1.2rem auto;
    padding-bottom: 10rem;
    border: 1px solid black;
    border-radius: 1.8rem;
    background-color: #121F3D;
    background-image: url(/img/foro_ilustracion.webp);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 50%;
}

body{
    background-color: #03091E;
    background-image: url(/img/stars.png);
}

h1,
h2,
h3,
h4,
.lista_texto {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.efecto_text > a:hover{
    color: #ffdd00;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.2;    
}

h3 {
    font-size: 3.2rem;
}

h4,
.lista_texto {
    font-size: 2.2rem;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/**UTILIDADES **/

.centrar-texto {
    text-align: center;
}

.alinear-texto{
    vertical-align: middle;
}

.no-margin {
    margin: 0;
}



ul{
    list-style: none;
}

ol{
    list-style: none;
}
.classroom_codigos{
    display: grid;
    grid-template-columns: repeat(auto-fill, 97%);
    grid-gap: .3rem;
    opacity: .9;
}
.classroom_item{
    height: 100%;
}
.classroom_item:hover{
    background: #3A5481;
}
.fondito{
    
    background-color: #24385B;
    padding: 1rem;
    border: .1rem solid #121F3D;
    border-radius: 1rem;
}

.separador{
    line-height: 2;
}

/*Botones de descarga*/
.button_descarga{
    display: block;
    align-items: center;
    margin: 5rem 0 0 0;
}
.button_docs{
    width: 20%;
    height: 7rem;
    color: #fff;
    background: #24385B;
    border: 1.5px solid #03091E;
    border-radius: 4rem;
    opacity: .8;
}
.button_docs a{
    font-size: 12px;
}
.button_docs:hover{
    background: #3A5481;
}

@media only screen and (max-width: 600px){
    .contenedor{
        height: 100%;
    }
    .classroom_codigos{
        grid-template-columns: repeat(1, 100%);
        grid-gap: 5%;
    }
    .classroom_item{
        margin: 0 10% 0 0;
        height: 120%;
    }
    .button_descarga{
        margin: 65% 0 0 0;
    }
    .button_docs{
        width: 90%;
        opacity: .8;
    }
    .button_docs a{
        font-size: 15px;
    }
    .separador{
        margin: 0 2rem;
    }
}
@media only screen and (max-width: 406px){
    .button_descarga{
        margin: 82% 0 0 0;
    }
}
@media only screen and (max-width: 320px){
    .button_descarga{
        margin: 120% 0 0 0;
    }
}